In [1]:
# import dependancies
import pandas as pd

In [2]:
# reviews file to load
music_vine_df = pd.read_csv("music.csv")
music_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RAB23OVFNCXZQ,1.0,0.0,0.0,N,Y
1,R3NORADVJO6IE6,5.0,0.0,0.0,N,Y
2,R299F4SO98S5OO,5.0,1.0,1.0,N,Y
3,R2DA9DOT03UW6I,5.0,2.0,3.0,N,Y
4,R2OGCH681EQHU6,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
3514937,R3GVXVPBFW5AU9,4.0,5.0,6.0,N,N
3514938,R2PUPCH64VV0KA,1.0,12.0,13.0,N,N
3514939,R3SPUAB0NVAB0O,5.0,17.0,20.0,N,N
3514940,R2O7ALEKWVTK9N,2.0,20.0,23.0,N,N
3514941,R2FS395ZUCR2RN,4.0,4.0,5.0,N,N

In [3]:
# explore the dataframe
music_vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3514942 entries, 0 to 3514941
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   review_id          object
 1   star_rating        float64
 2   helpful_votes      float64
 3   total_votes        float64
 4   vine               object
 5   verified_purchase  object
dtypes: float64(3), object(3)
memory usage: 160.9+ MB

In [4]:
# filtering all rows where total_votes >=20
music_vine_20_df = music_vine_df[music_vine_df["total_votes"] >= 20]
music_vine_20_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
487,R1T4FVSABO0IDP,5.0,8.0,31.0,N,Y
613,R397VXR1GAK6C9,5.0,21.0,21.0,N,Y
1058,R2H6KB9RHS17GA,3.0,59.0,69.0,N,Y
1097,R3HAK0MUN9F5IT,1.0,6.0,28.0,N,Y
1373,R29UTZTOPUVRSV,5.0,21.0,21.0,N,Y
...,...,...,...,...,...,...
3514924,R1B4VY89QJI9YM,4.0,61.0,69.0,N,N
3514928,R3EOKOI381VNAD,5.0,28.0,31.0,N,N
3514935,R2X2OT2N2L6VTH,1.0,33.0,36.0,N,N
3514939,R3SPUAB0NVAB0O,5.0,17.0,20.0,N,N
3514940,R2O7ALEKWVTK9N,2.0,20.0,23.0,N,N

In [5]:
# all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
music_vine_50_df = music_vine_20_df.loc[(music_vine_20_df["helpful_votes"] / music_vine_20_df["total_votes"] >= 0.5)]
music_vine_50_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
613,R397VXR1GAK6C9,5.0,21.0,21.0,N,Y
1058,R2H6KB9RHS17GA,3.0,59.0,69.0,N,Y
1373,R29UTZTOPUVRSV,5.0,21.0,21.0,N,Y
1580,RY9FLUD8VG6XD,4.0,27.0,32.0,N,Y
1725,R3Q5NAY8BGAKHI,5.0,34.0,40.0,N,Y
...,...,...,...,...,...,...
3514924,R1B4VY89QJI9YM,4.0,61.0,69.0,N,N
3514928,R3EOKOI381VNAD,5.0,28.0,31.0,N,N
3514935,R2X2OT2N2L6VTH,1.0,33.0,36.0,N,N
3514939,R3SPUAB0NVAB0O,5.0,17.0,20.0,N,N
3514940,R2O7ALEKWVTK9N,2.0,20.0,23.0,N,N

In [6]:
# filter vine_50_df where vine= Y : paid reviews
music_vine_paid_reviews_df = music_vine_50_df.loc[music_vine_50_df["vine"] == 'Y']
music_vine_paid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
318513,REKN4PLM5174P,4.0,219.0,225.0,Y,N
659122,RQOG8IIJX7CKB,4.0,21.0,27.0,Y,N
799477,R33EJ9PSZR13CM,4.0,26.0,30.0,Y,N
808799,RD2BFV896F321,5.0,16.0,20.0,Y,N
1306517,R37GSXLA11XF8N,5.0,30.0,34.0,Y,N
...,...,...,...,...,...,...
3431517,R26YGEBGOEZ5WF,5.0,45.0,48.0,Y,N
3452713,R1EZOKZ90YWFBQ,5.0,28.0,28.0,Y,N
3453542,R3SI3ILCDQNMCL,5.0,18.0,24.0,Y,N
3453598,RCU7VXK669JVW,5.0,19.0,20.0,Y,N
3473064,R3T38WBFGD66A0,3.0,20.0,21.0,Y,N

In [7]:
# filter vine_50_df where vine= N : unpaid reviews
music_vine_unpaid_reviews_df = music_vine_50_df.loc[music_vine_50_df["vine"] == 'N']
music_vine_unpaid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
613,R397VXR1GAK6C9,5.0,21.0,21.0,N,Y
1058,R2H6KB9RHS17GA,3.0,59.0,69.0,N,Y
1373,R29UTZTOPUVRSV,5.0,21.0,21.0,N,Y
1580,RY9FLUD8VG6XD,4.0,27.0,32.0,N,Y
1725,R3Q5NAY8BGAKHI,5.0,34.0,40.0,N,Y
...,...,...,...,...,...,...
3514924,R1B4VY89QJI9YM,4.0,61.0,69.0,N,N
3514928,R3EOKOI381VNAD,5.0,28.0,31.0,N,N
3514935,R2X2OT2N2L6VTH,1.0,33.0,36.0,N,N
3514939,R3SPUAB0NVAB0O,5.0,17.0,20.0,N,N
3514940,R2O7ALEKWVTK9N,2.0,20.0,23.0,N,N

In [8]:
# determine the count of paid 5 star reviews
paid_five_star_reviews = music_vine_paid_reviews_df.loc[music_vine_paid_reviews_df["star_rating"] == 5]["star_rating"].count()
paid_five_star_reviews

33

In [9]:
# determine the count of paid reviews
paid_reviews = music_vine_paid_reviews_df["star_rating"].count()
paid_reviews

82

In [10]:
# determine the % of paid 5 * reviews
percentage_paid_five_star_reviews = (paid_five_star_reviews / paid_reviews) * 100
percentage_paid_five_star_reviews

40.243902439024396

In [11]:
# determine the count of unpaid 5 star reviews
unpaid_five_star_reviews = music_vine_unpaid_reviews_df.loc[music_vine_unpaid_reviews_df["star_rating"] == 5]["star_rating"].count()
unpaid_five_star_reviews

12807

In [12]:
# determine the count of unpaid reviews
unpaid_reviews = music_vine_unpaid_reviews_df["star_rating"].count()
unpaid_reviews

24742

In [13]:
# determine the % of paid 5 * reviews
percentage_unpaid_five_star_reviews = (unpaid_five_star_reviews / unpaid_reviews) * 100
percentage_unpaid_five_star_reviews

51.76218575701237